nimcache/
nimblecache/
htmldocs/
*.so
*.idx
*.html
*.css
*.js
.gemini
nimble.develop
nimble.paths
nimbledeps
config.nims
.antigravitycli
tests/testSuiteA_Allocator
tests/testSuiteB_View
tests/testSuiteC_Buffer
tests/testSuiteC_RCUTable
tests/testSuiteD_Module
tests/testSuiteE_Intrashell
